<section class="md:h-screen py-36 flex items-center relative overflow-hidden zoom-image">
  <div class="absolute inset-0 image-wrap z-1 bg-[url('/assets/images/bg/01.jpg')] bg-no-repeat bg-center bg-cover"></div>
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black z-2" id="particles-snow"></div>
  <div class="container relative z-3">
    <div class="flex justify-center">
      <div class="max-w-[400px] w-full m-auto p-6 bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-700 rounded-md">
        <a routerLink="/"><img src="assets/images/logo-icon-64.png" class="mx-auto" alt=""></a>
        <h5 class="mt-6 mb-4 text-xl font-semibold">{{'RESET_PASSWORD.TITLE' | translate }}</h5>
        <div class="grid grid-cols-1">
          <form class="text-start">
            <div class="grid grid-cols-1">
              <div class="mb-1">
                <input
                  [(ngModel)]="password"
                  name="password"
                  id="password"
                  type="password"
                  maxlength="100"
                  class="form-input mt-3"
                  [ngClass]='errors.password || errors.password_match ? "error-border text-red-600" : ""'
                  (ngModelChange)="errors.password = false; errorMessage = '';"
                  placeholder="{{'RESET_PASSWORD.PASSWORD.PLACEHOLDER' | translate }}"
                >
                @if(errors.password) {
                  <div class="text-red-600">
                    {{ 'RESET_PASSWORD.MSG_ERR.PASSWORD_ERROR' | translate }}
                  </div>
                }
              </div>
              <div class="mb-4">
                <input
                  [(ngModel)]="password_confirm"
                  name="password_confirm"
                  id="password_confirm"
                  type="password"
                  maxlength="100"
                  class="form-input mt-3"
                  [ngClass]='errors.password_confirm || errors.password_match ? "error-border text-red-600" : ""'
                  (ngModelChange)="errors.password_confirm = false;
                  errorMessage = '';"
                  placeholder="{{'RESET_PASSWORD.PASSWORD_CONFIRM.PLACEHOLDER' | translate }}"
                >
                @if(errors.password_confirm) {
                  <div class="text-red-600">
                    {{ 'RESET_PASSWORD.MSG_ERR.PASSWORD_CONFIRM_ERROR' | translate }}
                  </div>
                }
                @if(errors.password_match) {
                  <div class="text-red-600">
                    {{ 'RESET_PASSWORD.MSG_ERR.PASSWORD_MATCH_ERROR' | translate }}
                  </div>
                }
              </div>

              <div class="mb-4">
                <button mat-flat-button class="btn bg-green-600 hover:bg-green-700 text-white rounded-md w-full" (click)="handleSubmit()">{{'RESET_PASSWORD.BTN_SEND' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!--end section -->

<div class="fixed bottom-3 end-3 z-10">
  <a routerLink="/" class="back-button btn btn-icon bg-green-600 hover:bg-green-700 text-white rounded-full"><i class="mdi mdi-arrow-left"></i></a>
</div>